<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'security/bootstrap.min.css' %}">
<style>
    body {background-color:#212529;
    }
</style>
<body>
    <div>
        <table class="table table-dark table-hover table-bordered">
            <tr>
                <th>Roll</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{student.roll}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
            </tr>
        </table>
    </div>
</body>
</html>