<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    {% load static tailwind_tags %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'security/bootstrap.min.css' %}">
</head>
<style>
    body {
      background-color: #212529;
    }
    .vertical-center {
      margin:auto;
      transform: translateY(80%);
    }

    
</style>
  
<body>
  
<script type="text/javascript">
  function togglePassword() {
    var password = document.getElementById("password");
    var button = document.getElementById("showPassword");
  
    if (password.type === "password") {
      password.type = "text";
      button.textContent = "Hide API Key";
    } else {
      password.type = "password";
      button.textContent = "Show API Key";
    }
  }
</script>   

{% if authenticated %}
<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <ul class="nav">
      <li class="nav-item" >
        <a class="nav-link" href="/add_relatives/"><button type="button" class="btn btn-outline-primary btn-sm">Add Relatives</button></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/rem_relatives/"><button type="button" class="btn btn-outline-warning btn-sm">Remove Relatives</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/"><button type="button" class="btn btn-outline-danger btn-sm">Logout</button></a>
      </li>
    </ul>
</nav>
  {% for messg in messages %}
  {% if "success" in messg.tags %}
    <p style="color:lightgreen;">{{messg}}</p>
  {% else %}
    <p style="color:red;">{{messg}}</p>
  {% endif %}
  {% endfor %}
      <h3 style="color:white; text-align: center;">Suraksha Portal</h3> <br>
      <div>
      <h6 style="color:white;">Information for {{user.first_name}} {{user.last_name}}</h6>
      <button id="showPassword" class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-1.5 px-3 rounded-full" onclick="togglePassword()">Show API Key</button>
      <input type="password" class="bg-inherit text-slate-400 border-transparent" style="width: 400px;" id="password" value={{token}} disabled>
      </div>
      <br>
      <h7 style="color:white;">Your Past Records with us</h7> <br>
      <table class="table table-dark table-hover">
        <tr>
            <th>Coordinate_x</th>
            <th>Coordinate_y</th>
            <th>Date</th>
            <th>Time</th>
            <th>Emergency</th>
            <th>Location</th>
        </tr>
      {% for dat in data %}
        <tr>
          <td>{{dat.coordinate_x}}</td>
          <td>{{dat.coordinate_y}}</td>
          <td>{{dat.date_time|date:'l, F jS, Y'}}</td>
          <td>{{dat.date_time|date:'h:i A'}}</td>
          {% if dat.emergency %}<td style="color:red;">Yes</td>{% else %}<td style="color:lightgreen;">No</td>{% endif %}
          <td><a href="https://www.google.com/maps/search/?api=1&query={{dat.coordinate_x}},{{dat.coordinate_y}}"><button type="button" class="btn btn-outline-info btn-sm">See Location</button></a></td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
    <h7 style="color: white;">Your are not logged in to view this page, Please log in</h7> <br>
    <div ALIGN='center' class="vertical-center">
    <a href="/login/"><button class="btn btn-primary mb-3">Login</button></a>
     <br>
    <a href="/registration/"><button class="btn btn-primary mb-3">Registration</button></a> 
    <br>
    </div>
    {% endif %}
</body>
</html>